<li>
    <div class="notifs-div">
        {% for notification in user.get_notifications %}
            {% if notification.as_invite_notif != None %}
            <div class="invite-notifs-bubbles">
                <div class="invite-notif">
                    <p>Team Name: <b> {{ notification.invitenotification.invite.get_inviting_team.team_name }} </b></p>
                    <p>Team Creator: <b> {{ notification.invitenotification.invite.get_inviting_team.team_creator.username }}</b></p>
                    <p>Invite Message: <b> {{ notification.invitenotification.invite.invite_message }} </b></p>
                    <p> {{notification.invitenotification.display}} </p>
                </div>
                <div class="invite-notif-btns">
                    <form action ="{%url 'press_invite'%}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Accept" name="status" class="invitenotif acceptbtn"><br>
                        <input type="submit" value="Reject" name="status" class="invitenotif rejectbtn">
                        <input type="hidden" name="id" value="{{ notification.invitenotification.invite.id }}">
                        </form> 
                </div>
            </div>
            {% elif notification.as_task_notif != None  and notification.tasknotification.task.assigned_team == current_team %}
            <div class="task-notifs-bubbles">
                <div class="task-notif">
                    {{notification.tasknotification.display}}
                </div>
                <div class="task-notif-delete">
                    <form method="post" action="{% url 'notif_delete' notification.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <span class="bi-trash"></span>
                    </button>
                    </form>
                </div>
            </div>
            {% endif %} 
        {% empty %}
            No notifications currently
        {% endfor %}
    </div>
</li>