{% extends 'base_content.html' %}
{% block content %}

<style>
  /* .assign-task-card{
    width: 90%;
  }

  .assign-task-row {
    justify-content: center;
  }

  .assign-task-container {
    border: 1px solid rgba(255, 255, 255, 0.623);
    background: linear-gradient(to bottom right, #a55a37, rgba(207, 222, 220, 0.438));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
  }

  .team-info-container h2 {
    padding: 10px;
    font-weight: bold;
  }

  .assign-task-submit-btn{
    display: inline-block;
    background-color: rgb(32, 143, 158);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 2;
    height: 2em;
    width: 7em;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    margin-right: auto;
  }

  .assign-task-submit-btn:hover{
    background: #28242c;
    color: white;
  } */

  
  body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #a55a37, rgba(207, 222, 220, 0.438));
  }

  
  .assign-button {
    display: inline-block;
    background-color: #a55a37;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    z-index: 2;
    width: 7em;
    height: 3em;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }
</style>

<div class="task-info-container">
  <div class="task-info">
      <div class="task-header">
          <h2>Assign Task: {{ task.name }}</h2>
      </div>
      <div class="task-details">
        <div class="mb-3">
          <form action ="{{ assign_task_url }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Assign Task" class="assign-button">
          </form>
        </div>
      </div>
  </div>
</div>

{% endblock %}