{% load widget_tweaks %}
{% block content %}

<div class="teamcontainer">
    <div class="teamcreatecard">
        <h1>Create Team</h1>

    <form action ="{%url 'create_team'%}" method="post">
      {% csrf_token %}

      {% for field in team_form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {% if form.is_bound %}
          {% if field.errors %}
            {% if field.name == "members_to_invite" %}
              {% render_field field class="basicAutoComplete form-control is-invalid" %}
            {% else %}
              {% render_field field class="form-control is-invalid" %}
            {% endif %}
          {% else %}
            {% if field.name == "members_to_invite" %}
                {% render_field field class="basicAutoComplete form-control is-valid" %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% endif %}
        {% else %}
          {% if field.name == "members_to_invite" %}
              {% render_field field class="basicAutoComplete form-control" %}
          {% else %}
              {% render_field field class="form-control" %}
          {% endif %}
        {% endif %}
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          {{ field.errors }}
        </div>
      </div>
      {% endfor %}
        
    <input type="submit" value="Create Team" class="create-team-btn">
    </form>
</div>
{% endblock %}
