{% extends 'base_content.html' %}
{% block content %}

<style>
  body{
    background: linear-gradient(to bottom right, #0076f4, #209e3e);
  }

  h3{
    margin-bottom: 0;
    margin-left:1%;
  }

  h6{
    margin-top: 5%;
    padding-left: 5%;
  }

  .flex-container{
    display: flex;
    height: 100vh;
  }

  .header-bar{
    background-color: #064486cc;
    border: 1px solid #FFFFFF55;
    display: flex;
    color: white;
  }

  .username{
    border-right: 1px solid #FFFFFF55;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width:12vw;
  }

  .board{
    overflow: auto;
    height: 100vh;
    width: 88vw;
  }

  .task-board{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
  }

  .lane{
    display: flex;
    flex-direction: column;
    gap: 12px;

    background: rgb(205, 205, 205);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
  }

  .lane-name-label{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .lane-name-input{
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background: transparent;
    width: 100%;
  }

  .toggle-lane-name:checked + .lane-name-label + .lane-name-input{
    display: block;
  }

  .toggle-lane-name:checked + .lane-name-label{
    display: none;
  }

  .task{
    background: rgb(221, 221, 221);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 4px;

    font-size: 15px;
    cursor: move;
  }

  #popup_panel{
    height: 100vh;
    width: 20vw;
    padding: 10px;
    background-color: rgba(222, 206, 206, 0.8);
    border: 10px solid #00000055;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #sidebar{
    width: 12.1vw;
    height: 100vh;
    background-color: #064486cc;
    border-right: 1px solid #FFFFFF55;
    border-left: 1px solid #FFFFFF55;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #sidebar li{
    transition: background-color 0.3s;
    padding-left: 5%;
  }

  #sidebar li:hover{
    background-color: #064486;
  }

  #sidebar button{
    border: none;
    background-color: inherit;
    color: white;
    transition: background-color 0.3s;
    padding-left: 5%;
  }

  #sidebar button:hover{
    background-color: #064486;
  }

</style>

<div class="header-bar">
  <h5 class="username">{{ user.username }}</h5>
  <h3>Welcome to {{ current_team.team_name }}'s dashboard</h3>
</div>

<div class="flex-container">
  <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <ul>
      <button type="button"> Add Team </button>
    </ul>
    <h6>Your Teamssssssss:</h6>
    <ul>
      {% for team in teams %}
        <form method="get">
          <button type="submit" name="dashboard_team" value="{{ team.team_name }}">
            {{ team.team_name }}
          </button>
        </form>
      {% empty %}
        <p>You currently are not part of any teams 0-0</p>
      {% endfor %}
    </ul>
  </nav>
  
  <!--Used to be container board-->
  <div class="board">
    <div class="row">
      <div class="d-flex align-items-start" style="margin-top: 2%; margin-left: 2%;">
        <div class="task-board">
          {% for lane in lanes %}
          <div class="lane">
  
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="lane_index" value="{{ forloop.counter0 }}">
  
              <!-- Toggle checkbox to rename -->
              <input type="checkbox" id="lane-name-{{ forloop.counter }}" class="toggle-lane-name" style="display:none;">
  
              <label for="lane-name-{{ forloop.counter }}" class="lane-name-label">{{ lane }}</label>
  
              <input type="text" name="new_lane_name" value="{{ lane }}" required class="lane-name-input">
              <input type="submit" name="rename_lane" style="display: none;">
            </form>
  
            <!-- <p class="task">Do Thing</p> -->
            {% for task in tasks %}
            <div class="task">
              <!---Another change by the maestro-->
                  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#task_pop_up{{ task.name }}" aria-expanded="false" aria-controls="#task_pop_up{{ task.name }}">
                    {{ task.name }}
                  </button>
              <!---up to here--> 
            </div>

            {% empty %}
            <p>No tasks in this lane.</p>
            {% endfor %}
  
            <div class="task">

                <!--Simon comment out
      
                <form method="get" style="display: inline;;" action="{% url 'task_create' %}">
                  <input type="hidden" name="lane" value="{{ lane }}">
                  <button type="submit" class="btn btn-secondary">New Task</button>
                </form>
                -->
                
              <button type="submit" class="btn btn-secondary"data-bs-toggle="collapse" data-bs-target="#create_task" aria-expanded="false" aria-controls="#create_task">New Task</button>
              
              <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="delete_lane" value="{{ lane }}">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
  
          </div>
          {% endfor %}
        </div>
  
        <form method="post" class="ms-2">
          {% csrf_token %}
          <button type="submit" name="add_lane" class="btn btn-dark">Add Lane</button>
        </form>

        <!--Simon Stuff -->
        <button type="button" name="view_team" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#team_info" aria-expanded="false" aria-controls="#team_info">View Team</button>

      </div>
    </div>
  </div>
  <!--Here I changed -->
  {% for task in tasks %}
    <div class="collapse collapse-horizontal" id="task_pop_up{{ task.name }}">
      <article id="popup_panel">
        {% include 'assign_task.html' with form=assign_task_form task_name=task.name %}
      </article>
    </div>
  {% endfor %}
  <div class="collapse collapse-horizontal" id="team_info">
    <article id="popup_panel">
      {% include 'team_info.html' with team=current_team %}
    </article>
  </div>
  <div class="collapse collapse-horizontal" id="create_task">
    <article id="popup_panel">
      {% include 'task_create.html' with form=create_task_form %}
    </article>
  </div>


  <!--sdsdsd-->
</div>

{% endblock %}