{% extends 'base_content.html' %}
{% block content %}

<style>
  /* For Firefox */
  * {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
  }

  .lane-header::-webkit-scrollbar, .board-container::-webkit-scrollbar, .task::-webkit-scrollbar {
      width: 0.5em; /* Width of the scrollbar */
      height: 0.3em;
  }

  ::-webkit-scrollbar-thumb {
      background: #ffffff88;
      border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #555555;
  }

  body{
    background: linear-gradient(to bottom right, #0076f4, #209e3e);
  }

  h3{
    margin-bottom: 0;
    margin-left:1em;
  }

  h6{
    margin-top: 0.5em;
    padding-left: 0.5em;
  }

  .username h5{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .image{
    border: none;
    background: transparent;
  }

  .flex-container{
    display: flex;
    height: 100vh;
  }

  .header-bar{
    background-color: #064486cc;
    border: 1px solid #FFFFFF55;
    display: flex;
    color: white;
    padding: 0.2em;
  }

  .username{
    border-right: 1px solid #FFFFFF55;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    width:12vw;
    word-wrap: break-word;
  }

  .board-container{
    overflow: auto;
    height: 100vh;
    width: 88vw;
  }

  .board{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 1em;
  }

  .lane{
    display: flex;
    flex-direction: column;
    gap: 0.9em;

    background: rgb(205, 205, 205);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);

    padding: 0.8em;
    border-radius: 4px;
    min-width: 20vw;
    min-height: 10vh;
    max-width: 30vw;
    overflow: hidden;
    /* text-overflow: ellipsis;
    white-space: nowrap;    */
  }

  .lane-name-label, .lane-name-input{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    overflow-wrap: break-word;
    max-width: 20vw;
  }

  .lane-header{
    overflow: auto;
  }

  .lane-name-input{
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    background: transparent;
    width: 100%;
  }

  .toggle-lane-name:checked + .lane-name-label + .lane-name-input{
    display: block;
  }

  .toggle-lane-name:checked + .lane-name-label{
    display: none;
  }

  .task{
    background: rgb(221, 221, 221);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    padding: 0.5em;
    border-radius: 4px;

    font-size: 0.95em;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x:auto;
  }

  .task img{
    transform: scale(0.8);
  }

  #popup_panel{
    height: 100vh;
    width: 20vw;
    padding: 15px;
    background-color: rgba(222, 206, 206, 0.8);
    border: 10px solid #00000055;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #sidebar{
    width: 12.4vw;
    height: 100vh;
    background-color: #064486cc;
    border-right: 1px solid #FFFFFF55;
    border-left: 1px solid #FFFFFF55;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  #sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #sidebar li{
    transition: background-color 0.3s;
    padding-left: 0.5em;
  }

  #sidebar li:hover{
    background-color: #064486;
  }

  #task_sidebar{
    height: 100vh;
    padding: 1empx;
    background-color: rgba(222, 206, 206, 0.8);
    border: 10px solid #00000055;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  #sidebar button{
    border: none;
    background-color: inherit;
    color: white;
    transition: background-color 0.3s;
    padding-left: 5%;
  }

  #sidebar button:hover{
    background-color: #064486;
  }

  .collapsing {
      transition-duration: 0.7s;
  }

</style>

<div class="header-bar">
  <div class="username">
    <h5>{{ user.username }}</h5>
  </div>
  <h3>Welcome to {{ current_team.team_name }}'s dashboard</h3>
</div>

<div class="flex-container">
  <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <h6>YOUR TEAMS:</h6>
    <ul>
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#create_team" aria-expanded="false" aria-controls="create_team">Add Team</button>
    </ul>
    {% for team in teams %}

    <ul style="display: flex; justify-content: space-between; align-items: center;">
      <!--Switch dashboard by pressing team name-->
      <form method="get" style="display: inline;">
          <button type="submit" name="dashboard_team" value="{{ team.id }}">
              {{ team.team_name }}
          </button>
      </form>

      <div style="display: flex; justify-content: end;">
        <!-- View team info -->
        <button type="button" name="view_team" class="image" data-bs-toggle="collapse" data-bs-target="#team_info" aria-expanded="false" aria-controls="team_info">
          <img src="../../static/images/info-icon-blue.png" alt="Info Icon">
        </button>

        <!-- Delete team, shown if you are the team's creator -->
        {% if user == team.team_creator %}
          <form method="post" style="display: inline;" action="{% url 'delete_team' team.id %}">
          {% csrf_token %}
            <button type="submit" class="image" title="Delete Team" style="margin-right: 0.5em;">
              <img src="../../static/images/bin-icon-blue.png" alt="Delete Icon">
            </button>
          </form>
        {% endif %}
        </div>
      </ul>
      {% endfor %}
  </nav>
  
  <!--Used to be container board-->
  <div class="board-container">
    <div class="row">
      <div class="d-flex align-items-start" style="margin-top: 1em; margin-left: 1em;">
        <div class="board">
          <!-- Lanes of the dashboard -->
          {% for lane in lanes %}
          <div class="lane">
            <div class="lane-header" style="display: flex; justify-content: space-between; align-items: center;">
              
              <!-- Move lane left form -->
              <form method="post" action="{% url 'move_lane_left' lane.lane_id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="image" title="Move lane left">
                    <img src="../../static/images/move-left-icon.png">
                </button>
              </form>


            <!-- Lane name form -->
            <form method="post" style="display: inline;">
              {% csrf_token %}
              <input type="hidden" name="rename_lane" value="{{ lane.lane_id }}">

              <label id="label-{{ forloop.counter }}" class="lane-name-label" onclick="toggleEdit('{{ forloop.counter }}')">{{ lane.lane_name }}</label>
              
              <!-- Rename input (initially hidden) -->
              <input type="text" name="new_lane_name" value="{{ lane.lane_name }}" id="input-{{ forloop.counter }}" maxlength="50" class="lane-name-input" style="display:none;" onkeypress="enterName(event,'{{forloop.counter}}')">
            </form>

            <!-- Move lane right form -->
            <form method="post" action="{% url 'move_lane_right' lane.lane_id %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="image" title="Move lane right">
                  <img src="../../static/images/move-right-icon.png">
              </button>
            </form>

            <!-- Delete lane form -->
            <form method="post" action="{% url 'lane_delete' lane.lane_id %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="delete_lane" value="{{ lane.lane_id }}">
                <button type="submit" class="image" title="Delete lane">
                    <img src="../../static/images/bin-icon.png">
                </button>
            </form>
          </div>
            <!-- Tasks for each lane -->
            {% for task in tasks %}
            {% if task.lane_id == lane.lane_id %}
            <div class="task">
              <!-- Form for moving tasks to the left lane -->
              <form method="post" action="{% url 'move_task_left' task.id %}">
                {% csrf_token %}
                <button type="submit" class="image" title="Move task left">
                  <img src="../../static/images/move-left-icon-grey.png">
                </button>
              </form>

              {{ task.name }}
            
              <!-- Form for moving task to the right lane -->
              <form method="post" action="{% url 'move_task_right' task.id %}">
                {% csrf_token %}
                <button type="submit" class="image" title="Move task right">
                  <img src="../../static/images/move-right-icon-grey.png">
                </button>
              </form>

              <!-- Assign a Task -->
              <button type="button" class="image" data-bs-toggle="collapse" data-bs-target="#task_pop_up{{ task.id }}" aria-expanded="false" aria-controls="task_pop_up{{ task.id }}" title="Assign Task">
                  <img src="../../static/images/user-icon-grey.png">       
              </button>

              <!-- View/edit task form -->
              <form method="get" action="{% url 'task_edit' task.id %}">
                {% csrf_token %}
                <button type="submit" class="image" title="View and edit task">
                  <img src="../../static/images/edit-icon-grey.png">
                </button>
              </form>

              <!-- Delete task form -->
              <form method="post" action="{% url 'task_delete' task.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="image" title="Delete task">
                  <img src="../../static/images/bin-icon-grey.png">
                </button>
              </form>
            </div>
            {% endif %}
            {% empty %}
                <p>No tasks currently in this lane.</p>
            {% endfor %}
    
            <div>
              <form method="get" style="display: inline;" action="{% url 'task_create' %}">
                  <input type="hidden" name="lane" value="{{ lane.id }}">
                  <!-- <button type="submit" class="btn btn-secondary" style="width: 100%;">New Task</button> -->
                  <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#create_task" aria-expanded="false" aria-controls="create_task" style="width: 100%;">New Task</button>
                </form>
            </div>
          </div>
          {% endfor %}
        </div>
  
        <form method="post" class="ms-2">
          {% csrf_token %}
          <button type="submit" name="add_lane" class="btn btn-dark">Add Lane</button>
        </form>

        <!--Simon Stuff -->
        <button type="button" name="view_team" class="btn btn-dark" data-bs-toggle="collapse" data-bs-target="#team_info" aria-expanded="false" aria-controls="team_info">View Team</button>
      </div>
    </div>
  </div>
  
  <!--Here I changed -->
  <div class="accordion" id="popup">
    {% for task in tasks %}
      <div class="accordion-collapse collapse" id="task_pop_up{{ task.id }}" data-bs-parent="#popup">
        <article id="popup_panel"  style="overflow: auto;">
          {% include 'assign_task.html' with form=assign_task_form task_name=task.name %}
        </article>
      </div>
    {% endfor %}
    <div class="accordion-collapse collapse " id="team_info" data-bs-parent="#popup">
      <article id="popup_panel">
        {% include 'team_info.html' with team=current_team %}
      </article>
    </div>
    <div class="accordion-collapse collapse" id="create_task" data-bs-parent="#popup" style="width: 100%;">
      <article id="popup_panel" style="overflow: auto;">
        {% include 'task_create.html' with form=create_task_form %}
      </article>
    </div>
    <div class="accordion-collapse collapse" id="create_team" data-bs-parent="#popup">
      <article id="popup_panel" style="overflow: auto;">
        {% include 'create_team.html' with team_form=create_team_form %}
      </article>
    </div>
  </div>

  <!--sdsdsd-->
</div>

<script>
  // Toggle between the lanes name and the editable input
  function toggleEdit(counter) {
      let label = document.getElementById('label-' + counter);
      let nameInput = document.getElementById('input-' + counter);
      label.style.display = 'none';
      nameInput.style.display = 'block';
      nameInput.focus();
  }
  
  function enterName(event, counter) {
      if (event.key === 'Enter') {
          event.preventDefault();
  
          // find the closest form to the input and submit it
          let nameInput = document.getElementById('input-' + counter);
          nameInput.closest('form').submit();
      }
  }
</script>

{% endblock %}