{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>
  form {
      max-width: 600px;
      margin: auto;
      margin-top: 50px;
      position: relative;
      background: linear-gradient(to bottom right, rgb(54, 107, 171), rgb(207, 222, 220));
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  label {
    font-weight: bold;
  }

  button[type="submit"], .cancel-button {
      display: inline-block;
      background-color: #dedccf;
      color: #15257d;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      z-index: 2;
      width: 80px;
      box-sizing: border-box;
      vertical-align: top;
      text-align: center;
  }

  button[type="submit"]:hover, .cancel-button:hover {
      background-color: #b5b29a;
      color: rgb(14, 20, 80);
  }

  .deleteForm input[type="checkbox"].confirmClass {
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

</style>
<div class="container">
  <title>Delete Team</title>
  
    <form method="post" action="{{ delete_url }}" class="deleteForm">
      {% csrf_token %}
      <h4>Are you sure you want to delete the team "{{ team.team_name }}"?</h4>
      {{ delete_form }}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
      </div>
    </form>
</div>
{% endblock %}