
{% extends 'base.html' %}
{% block body %}
<style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #0076f4, #209e3e);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
  }

  .section1, .section2 {
    flex: 1; 
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
  }

  .section1 {
    background-color: rgba(0, 118, 244, 0.493);
    color: #000000;
  }

  .section2 {
    background-color: rgb(47, 148, 255);
    border-radius: 5px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
  }

  .cover-heading {
    font-size: 1em;
    margin-bottom: 10px;
  }

  .cover-text {
    font-size: 0.6em;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .btn-secondary {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #6c757d;
  }
</style>
{#    <div id='cover-image'>#}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="section1">
                <h1 class="cover-heading">Task Manager</h1>
                <p class="cover-text">A task manager application by Team <i>kangaroo</i></p>
              </div>
              <div class="section2">
                <p>
                  <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
                    Sign up
                  </a>
                </p>
                <p>
                  <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
                    Log in
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
{#    </div>#}
{% endblock %}
