{% load widget_tweaks %}
{% block content %}

<style>
  .teaminfoitems{
    width: 90%;
  }

  .invite-row {
    justify-content: center;
  }

  .teaminfocontainer {
    border: 1px solid rgba(255, 255, 255, 0.623);
    background: linear-gradient(to bottom right, #a55a37, rgba(207, 222, 220, 0.438));
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
    overflow-y: scroll
  }

  .teaminfocontainer h2 {
    padding: 10px;
    font-weight: bold;
  }

  .field-label {
    font-weight: bold;
}

.field-value {
    margin-bottom: 10px;
}
</style>

<div class="teaminfocontainer">
  <div class="invite-row row">
    <div class="teaminfoitems">
      <div class="flex">
        <h2>Make an invite</h2>
        <form action ="{%url 'create_invite'%}" method="post">
          {% csrf_token %}
          {% for field in invite_form %}
          <div class="mb-3">
            {{ field.label_tag }}
            {% if form.is_bound %}
              {% if field.errors %}
                {% if field.name == "users_to_invite" %}
                  {% render_field field class="basicAutoComplete form-control is-invalid" %}
                {% else %}
                  {% render_field field class="form-control is-invalid" %}
                {% endif %}
              {% else %}
                {% if field.name == "users_to_invite" %}
                    
                    {% render_field field class="basicAutoComplete form-control is-valid" %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% endif %}
            {% else %}
              {% if field.name == "users_to_invite" %}
                  {% render_field field class="basicAutoComplete form-control" %}
              {% else %}
                  {% render_field field class="form-control" %}
              {% endif %}
            {% endif %}
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              {{ field.errors }}
            </div>
          </div>
          {% endfor %}
        <input type="submit" value="Create Invite" class="btn btn-primary">
        </form>

      </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Autocomplete for long forms -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../../static/bootstrap-autocomplete.js"></script>
<script src="../../static/basic_autocomplete.js"> </script>
{% endblock %}  