{% extends 'base.html' %}
{% block body %}

<style>
  body{
    color: #6b3e3f;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #bb4e1b, rgb(32, 143, 158));
  }
</style>

<div class="log-in-container container">
  <div class="log-in-row row">
    <div class="log-in-form">
      <h1 style="text-align: center;">Log in</h1>
      <form action="{% url 'log_in' %}" method="post">
        
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert" style="max-width: 400px;">
              {{ message }}
              <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        <div class="buttons">
          <input type="submit" value="Log in" class="log-in-btn btn">
          <a href="/" class="back-btn btn log-in-btn">Back</a>
        </div>
      </form>
      <a href="{% url 'sign_up' %}" class="signup-link">Don't have an account? Sign up.</a>
    </div>
  </div>
</div>

{% endblock %}