{% extends 'base.html' %}
{% block body %}
<style>
  body{
    color: rgb(80, 127, 189);
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #0076f4, #209e3e);
  }

  a{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    max-width: 700px;
    height: 400px;
    background-color: rgb(144, 198, 255);
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
  }

  .login-form{
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 2px;
    width: 60%;
    height: 90%;
    background: transparent;
    backdrop-filter: blur(300px);
  }

  .login-btn{
    width:40%;
    margin-top: 2%;
    border-radius: 50px;
    background: rgb(80, 127, 189);
    color: black;
    transition: ease-in 0.3s;

    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .login-btn:hover{
    background: #28242c;
    color: white;
  }

  .invalid-feedback {
    color: red;
    font-size: 0.8em;
}

.alert {
  max-height: 50px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

</style>

<div class="container">
  <div class="row">
    <div class="login-form">
      <h1 style="text-align: center;">Log in</h1>
      <form action="{% url 'log_in' %}" method="post">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert" style="max-width: 500px;">
            {{ message }}
            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="col text-center">
          <input type="submit" value="Log in" class="login-btn btn">
        </div>
      </form>
      <a href="{% url 'sign_up' %}">Don't have an account? Sign up.</a>
    </div>
  </div>
</div>

{% endblock %}