{% extends 'base_content.html' %}
{% block content %}

<style>
  body{
    color: rgb(50, 198, 218);
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, #bb4e1b, rgb(32, 143, 158));
  }

  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-right: 0;
  }

  .passwordcard {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(155, 140, 151);
    text-align: center;
    height: 500px;
    max-width: 700px;
    background: rgb(13, 84, 94);
    justify-content: center;
    align-items: center; 
    padding-right: 0;
    padding-left: 0;
  }

  .passwordform{
    width: 60%;
    height: 100%;
    padding-bottom: 1em;
    padding-top: 1em;

    background: transparent;
    backdrop-filter: blur(300px);
  }

  .password-form h1{
    text-align: center;
  }

  .password-btn{
    width:80%;
    margin-top: 5%;
    background: white;
    color: black;
    transition: ease-in 0.3s;

    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .password-btn:hover{
    background: #28242c;
    color: white;
  }

  .passwordform h1{
    margin-bottom: 6%;
  }
</style>

<div class="container">
  <div class="row">
    <div class="passwordcard">
      <div class="passwordform">
            <h1>Change Password</h1>
            <form action="{% url 'password' %}" method="post">
              {% csrf_token %}
              {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Change password" class="password-btn btn btn-primary">
            </form>
          </div>
    </div>
  </div>
</div>
{% endblock %}