{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<div class="container">
  <title>Remove Team Member</title>
  
    <form method="post" action="{{ remove_member_url }}" class="remove-member-form">
      {% csrf_token %}
      <h4>Are you sure you want to remove {{user.username}} from {{ team.team_name }}?</h4>
      {{ remove_member_form }}
      <div>
        <button type="submit" class="remove-member-submit-btn btn btn-primary">Submit</button>
        <a href="{% url 'dashboard' %}" class="cancel-remove-member-btn">Cancel</a>
      </div>
    </form>
</div>
{% endblock %}