{% extends 'base.html' %}
{% block body %}
<style>
  body{
    background: linear-gradient(to bottom right, #0076f4, #209e3e);
    height:100vh;
    width: 100%;
    color: rgb(80, 127, 189);
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    max-width: 700px;
    height: 650px;
    background-color: rgb(144, 198, 255);
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
  }

  .signup-form{
    padding-bottom: 2em;
    width: 60%;
    height: 95%;
    background: transparent;
    backdrop-filter: blur(300px);
  }

  .signup-form h1{
    text-align: center;
    font-size: 2.2rem;
  }

  .signup-btn{
    width:80%;
    margin-top: 2%;
    border-radius: 50px;
    background: rgb(80, 127, 189);
    color: black;
    transition: ease-in 0.3s;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  a{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }

  .signup-btn:hover{
    background: #28242c;
    color: white;
  }
</style>

<div class="container">
  <div class="row">
    <div class="signup-form">
      <h1>Sign up</h1>
      <form action="{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="buttons" style="display: flex; gap: 10px;">
          <input type="submit" value="Sign up" class="signup-btn btn btn-primary">
          <a href="/" class="back-btn btn signup-btn">Back</a>
        </div>
      </form>
      <a href="{% url 'log_in' %}">Already have an account? Log in.</a>
    </div>
  </div>
</div>
{% endblock %}