{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>
  .hidden {
      display: none;
  }

  #editToggle:checked ~ #editForm {
    display: block;
}

#editToggle:not(:checked) + #editForm {
    display: block;
}
</style>

<div class="container">
  <title>Update Task</title>
  <input type="checkbox" id="editToggle">
  <label for="editToggle" id="editButton">Edit</label>

  <form method="post" action="{{ update_url }}" id="editForm" class="hidden">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}