{% block content %}

<div class="task-container">
    <form method="post" action="{% url 'task_create' %}" class="task-create-form">
        <p class="create-task-text">Create Task</p>
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="hidden" name="lane_id" value="{{ lane_id }}">
        <div class="form-btns">
            <button class="task-create-submit-btn">Submit</button>
            <a href="{% url 'dashboard' %}" class="task-create-cancel-btn">Cancel</a>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}