{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>

    .task-info-container {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    .task-info h2 {
        color: #333;
    }

    .task-details {
        margin-top: 20px;
    }

    .field-label {
        font-weight: bold;
    }

    .field-value {
        margin-bottom: 10px;
    }
</style>

<div class="task-info-container">
    <div class="task-info">
        <h2>Task Details</h2>
            <div class="task-details">
                <div class="field-label">Name:</div>
                <div class="field-value">{{ task.name }}</div>

                <div class="field-label">Description:</div>
                <div class="field-value">{{ task.description }}</div>

                <div class="field-label">Due Date:</div>
                <div class="field-value">{{ task.due_date }}</div>

                <div class="field-label">Created At:</div>
                <div class="field-value">{{ task.created_at }}</div>

                <div class="field-label">Current Lane:</div>
                <div class="field-value">{{ task.lane }}</div>

                <div class="field-label">Assigned Team:</div>
                <div class="field-value">{{ task.assigned_team }}</div>

                <div class="field-label">Assigned Users:</div>
                <div class="field-value">{{ task.assigned_users.all|join:", " }}</div>
            </div>
    </div>
</div>
{% endblock %}