{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<div class="container">
  <title>Update Task</title>
  
  {% if not edit_mode %}
    <a href="{% url 'task_update' task_id=task.id %}">Edit</a>
  {% endif %}

  {% if edit_mode %}
    <form method="post" action="{{ update_url }}">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
      </div>
    </form>
  {% endif %}
</div>
{% endblock %}