{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}
  <div class="container mt-4">
    <h2>Delete Task</h2>
    <p>Are you sure you want to delete "{{ task.name }}" ?</p>
    {% if task.name %}
      
      <form method="post" action="{% url 'task_delete' task.name %}">
        {% csrf_token %}
        {{ delete_form.as_p }}
        <input type="submit" value="Delete">
      </form>
    {% else %}
      <p>Error: task.name is empty or None.</p>
    {% endif %}
    <a href="{% url 'dashboard' %}">Cancel</a>
  </div>
{% endblock %}