{% block content %}
    
<style>
    body{
        color: rgb(80, 127, 189);
        height: 100vh;
        width: 100%;
        margin: 0;
        font-family: 'Arial', sans-serif;
        background: linear-gradient(to bottom right, #0076f4, #209e3e);
      }
    form {
        max-width: 600px;
        margin: auto;
        margin-top: 1em;
        position: relative;
        background-color: rgb(144, 198, 255);
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(to bottom right, rgb(54, 107, 171), rgb(207, 222, 220));
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .task-form label {
        font-weight: bold;
        display: block;
        margin-bottom: 1em;
    }

    textarea {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%; 
        max-width: 600px;
        height: 100px; 
        resize: vertical; 
    }

    .task-form button{
        display: inline-block;
        background-color: #dedccf;
        color: #15257d;
        padding: 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 10em;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
    }

    .cancel-button{
        display: inline-block;
        background-color: rgb(80, 127, 189);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 10em;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        transform: translateY(0.09em);
    }

    button[type="submit"]:hover, .cancel-button:hover {
        background: #28242c;
        color: white;
    }

    .nameClass {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 5px;
    }

    .descriptionClass {
        height: 100px;
    }

</style>

<div class="container">
    <title>Create Task</title>
    <form method="post" action="{% url 'task_create' %}" class="task-form">
        {% csrf_token %}
        
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div>
            <button type="submit">Submit</button>
            <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
    </form>

</div>
{% endblock %}