<html>
    <body>
    <div class="container">
    <head>
  <title>Bootstrap Example</title>
   <button type="button" class="close" data-dismiss="modal" style="position: absolute; top: 0; right: 0;">
    ×
</button>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Task name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <p>
        <button type="button" a href="#"class="btn btn-primary">submit</button>
        <button type="button" a href="#"class="btn btn-primary">cancel</button>   
    </div>
    </div>
  </body>
<html>
