{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/messages.html' %}

<style>

    body {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom right, #a55a37, rgba(207, 222, 220, 0.438));
    }

    .task-info-container {
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    .task-info h2 {
        color: #000000;
        margin-right:auto;
    }

    .task-details {
        margin-top: 20px;
    }

    .field-label {
        font-weight: bold;
    }

    .field-value {
        margin-bottom: 10px;
    }
    .edit-button,
    .back-button{
        display: inline-block;
        background-color: #a55a37;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        z-index: 2;
        width: 5em;
        height: 2.5em;
        box-sizing: border-box;
        vertical-align: top;
        text-align: center;
    }
  
    .edit-button:hover,
    .back-button:hover{
      background: #28242c;
      color: white;
    }

    .task-header {
        display: flex;
    }
</style>

<div class="task-info-container">
    <div class="task-info">
        <div class="task-header">
            <h2>Task Details</h2>
            <div class="task-info-btn">
                <a href="{% url 'task_edit' task.id %}" class="edit-button">Edit</a>
                <a href="{% url 'dashboard' %}" class="back-button">Back</a>
            </div>
        </div>
        <div class="task-details">
            <div class="field-label">Name:</div>
            <div class="field-value">{{ task.name }}</div>

            <div class="field-label">Description:</div>
            <div class="field-value">{{ task.description }}</div>

            <div class="field-label">Due Date:</div>
            <div class="field-value">{{ task.due_date }}</div>

            <div class="field-label">Created At:</div>
            <div class="field-value">{{ task.created_at }}</div>

            <div class="field-label">Current Lane:</div>
            <div class="field-value">{{ task.lane }}</div>

            <div class="field-label">Assigned Team:</div>
            <div class="field-value">{{ task.assigned_team }}</div>

            <div class="field-label">Assigned Users:</div>
            <div class="field-value">{{ task.assigned_users.all|join:", " }}</div>
        </div>
    </div>
</div>
{% endblock %}