{% block content %}
    
<style>
    .task-form {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        max-width: 50em;
        margin: auto;
        margin-top: 1em;
        position: relative;
        padding: 1em;
        border-radius: 10px;
        background: linear-gradient(to bottom right, rgb(54, 107, 171), rgb(207, 222, 220));
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .task-form label {
        font-weight: bold;
        display: block;
        margin-bottom: 1em;
    }

    .task-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .task-form button{
        display: inline-block;
        background-color: #dedccf;
        color: #15257d;
        padding: 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 10em;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
    }

    .cancel-button{
        display: inline-block;
        background-color: #dedccf;
        color: #15257d;
        padding: 0.7em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        width: 10em;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        transform: translateY(0.09em);
    }

    .task-form button:hover, .cancel-button:hover{
        background-color: #b5b29a;
        color: rgb(14, 20, 80);
    }

    .nameClass {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 5px;
    }

    .descriptionClass {
        height: 100px;
    }
    
    .task-create-hr {
        color: white;
        height: 100px;
        border: none;
        padding: 0.3%;
    }
</style>

<div class="container">
    <title>Create Task</title>
    <form method="post" action="{% url 'task_create' %}" class="task-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Submit</button>
            <a href="{% url 'dashboard' %}" class="cancel-button">Cancel</a>
    </form>

</div>
{% endblock %}